.learning{
    .promo{
        &__img{
            max-height: 403px;
            border-radius: 30%;
        }
    }
    &-info{
        border-top: 2px solid rgba(255, 255, 255, 0.3);
    }
    &-title{
        text-transform: capitalize;
    }
}

.date-start,
.gray-text{
    @extend .learning__time;
    line-height: 140%;
    &-small{
        font-size: 18px;
    }
}