.photoblock{
  &__img{
    width: 100%;
    min-height: 213px;
    object-fit: cover;
    object-position: center center;
  }
}

.footer {
  padding: 2.5rem 0;
  background: $firstAccentColor;
  // .footer__container
  &__container {
    display: flex;
    align-items: center;
    @include media(510) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__text{
    font-size: 1.375rem;
    line-height: 140%;
  }
  &__socials{
    @extend .header__socials;
    display: flex;
  }

  @media (max-width: 576px){
    padding: 1.5rem 0;
    &__item{
      text-align: center;
    }
    &__socials{
      justify-content: center;
    }
  }
}