// =====================================================================================================================
.header {
  width: 100%;
  padding: 20px 0;
  z-index: 10;
  background-color: $firstAccentColor;
  &.sticky {
    // ..стили для липкого хедера
  }

  // .header__container
  &__container {
    height: rem($headerHeight);
    display: flex;
    align-items: center;
  }

  &__socials{
    display: flex;
    &--mobile{
      display: none;
    }
  }

  &--shadow{
    box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
}
// =====================================================================================================================

.menu {
  &__link {
    display: block;
    padding: 25px 0px;
    padding-right: 1.25rem;
    font-size: 18px;
    text-transform: uppercase;

    &:hover {
      color: $pink;
    }
  }
}

.address{
  color: #86949E;
  font-size: 1rem;
}

.hamburger{
  display: none;
  height: 30px;
  width: 30px;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  z-index: 10;
  span{
    display: block;
    background-color: #fff;
    height: 3px;
    margin-bottom: 8px;
    transition: all 0.3s;
  }
  &--active{
    span{
      &:nth-child(1){
        transform: rotate(45deg) translate(9px, 9px);
      }
      &:nth-child(2){
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateY(3px);
      }
    }
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
}

@media (max-width: 1200px){
  .hamburger{
    position: absolute;
    display: block;
    right: 30px;
  }
  .header{
    &__menu{
        position: absolute;
        z-index: 2;
        padding-top: 8rem;
        background: rgb(5, 27, 52, 0.9);
        left: -200%;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        transition: all 0.3s;
        &--active{
          left: 0;
        }
    }
    &__link{
      padding-left: 25px;
    }
  }
}

@media (max-width: 676px){
  .header{
    padding: 10px 0;
    &__socials{
      display: none;
      &--mobile{
        position: absolute;
        top: 35px;
        display: flex;
      }
    }
  }
}

@media (max-width: 540px) {
  .logo{
    width: 75px;
    margin-right: 15px;
    flex-shrink: 0;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .hamburger {
    position: relative;
    right: 0;
  }
  .menu{
    &__link{
      padding: 15px 0;
      font-size: 15px;
    }
  }
}