* {
    box-sizing: border-box;
    font-family: $fontFamily;
    font-weight: normal;
}
html{
    font-size: $fontSize;
}
body{
    background-color: $firstAccentColor;
    color: $white;
}
h1{
    font-size: 4.5rem;
    font-weight: 300;
    text-transform: uppercase;
}
h2{
    font-size: 3.44rem;
    font-weight: 300;
    text-transform: uppercase;
}
h3{
    font-size: 2rem;
    text-transform: uppercase;
}
h4{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
a{
    font-size: 1.125rem;
    font-family: 'Inter';
    color: $white;
    &:hover{
        color: $pink;
    }
}
.text{
    font-size: 1.5rem;
    line-height: 130%;
}
.field-text{
    font-size: 1.25rem;
}
.link-text{
    font-size: 1.25rem;
    color: $red;
    text-decoration: underline;
    &:hover{
        color: $pink;
    }
}
.text-small{
    font-size: 1.125rem;
}
.caption{
    font-size: 1rem;
}

.phone{
    font-size: 1.1rem;
}

.icon{
    margin: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    max-width: 360px;
    width: 100%;
    min-height: 5.25rem;
    color: $pink;
    font-size: 1.25rem;
    border: 2px solid $red;
    border-radius: 1000px;
    transition: all 0.3s;
    text-transform: uppercase;
    &:hover{
        color: $pink;
        box-shadow: 0px 2px 10px 15px rgba(231, 110, 116, 0.2);
    }
}

.section{
    padding-bottom: 40px;
    &--first{
        padding-top: 140px;
    }
}

@media (max-width: 1400px){
    html{
        font-size: 14px;
    }
    h1{
        font-size: 3.5rem;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 540px){
    .btn{

    }
}

@import 'layout/promo';