.photos{
    &__item{
        padding: 15px;
        display: block;
        cursor: pointer;
        &:hover{
            .photos__album{
                transform: scale(1.1);
            }
            .photos__window{
                opacity: 1;
            }
        }
    }
    &__window{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        opacity: 0;
        z-index: 1;
        transition: opacity .3s;
    }
    &__header{
        position: relative;
        overflow: hidden;
        max-height: 327px;
        height: 100%;
    }
    &__album{
        width: 100%;
        height: 327px;
        transition: all .3s;
    }
    .link-text{
        font-size: 1em;
    }
}

@media (max-width: 1400px) {
    .photos {
        &__header,
        &__album {
            max-height: 270px;
        }
    }
}

@media (max-width: 1200px) {
    .photos {
        &__header,
        &__album {
            max-height: 223px;
        }
    }
}

@media (max-width: 768px) {
    .photos {
        &__header,
        &__album {
            max-height: 182px;
        }
        &__window{
            display: none;
        }
    }
}

@media (max-width: 575px){
    .photos{
        &__header{
            padding: 15px 20px;
        }
        &__text{
            text-align: center;
        }
        &__header,
        &__album{
            max-height: 327px;
            height: auto;
        }
    }
}