.team{
    &__item{
        margin: 15px 0;
        display: flex;
        border-radius: 20px;
        background-color: $secondAccentColor;
    }
    &__text{
        max-width: 334px;
        line-height: 140%;
    }
}

@media (max-width: 1200px){
    .team{
        &__text{
            margin: 15px 0;
            max-width: 100%;
        }
    }
}