.why{
    background: url(../images/pono-lopez.png) no-repeat;
    background-size: cover;
    &__content{
        padding: 100px 0;
        position: relative;
        &::before,
        &::after{
            content: "";
            position: absolute;
        }
        &::before{
            position: absolute;
            content: url(../images/why/star.svg);
            left: -4.5%;
            top: 19%;
            z-index: 0;
        }
        &::after{
            z-index: -1;
            max-width: 45%;
            width: 75vw;
            top: 0%;
            left: -8%;
            bottom: 0;
            height: 77vh;
            max-height: 95%;
            background: url(../images/why/circle.svg) no-repeat;
            position: absolute;
            background-size: 100% 100%;
        }
    }
}
.starlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item{
        position: relative;
        flex: 0 0 45%;
        line-height: 130%;
        margin-bottom: 3rem;
        &::before{
            content: url("../images/why/small-star.svg");
            position: absolute;
            top: 0;
            left: -2rem;
        }
    }
}

@media (max-width: 1550px) {
    .why{
        &__content{
            &:before{
                left: -1.5vw;
            }
            &:after{
                left: -6vw;
                width: 45vw;
                height: 70vh;
            }
        }
    }
}

@media (max-width: 1400px){
    .why{
        &__content{
            &:before {
                left: -2vw;
            }
            &::after{
                left: -3vw;
            }
        }
    }
}

@media (max-width: 1200px) {
    .why {
        &__content {
            &:before {
                left: -3vw;
            }
        }
    }
}

@media (max-width: 992px){
    .why{
        &__content {
            &::before {
                left: 8%;
                top: 14%;
            }
    
            &::after {
                max-width: 100%;
                width: 100vw;
                left: -8vw;
                height: 80vh;
                right: 0;
                top: 2%;
                bottom: 0;
            }
        }
    }
    .starlist {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .why {
        &__content {
            &::before {
                top: 11%;
            }
        }
    }
    .starlist{
        padding: 0 25px;
        flex-direction: column;
    
        &__item {
            flex-basis: 100%;
            margin-bottom: 2rem;
        }
    }
}

@media (max-width: 576px){
    .starlist{
        padding-left: 40px;
    }
}

@media (max-width: 500px){
    .why {
        &__content {
            &::before {
                display: none;
            }
            &::after{
                top: -2%;
            }
        }
    }
}
@media (max-width: 430px) {
    .why {
        &__content {
            &::after {
                top: -10%;
            }
        }
    }
}
